body {
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
}

::placeholder {
  color: #d53131;
  font-style: italic;
}
input[type="radio"]:checked + label {
  font-weight: bold;
  color: red;
}
.container_form_page {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  padding-top: 10rem;
  font-family: "Roboto", sans-serif;
  padding-right: 2rem;
}

.contact-form {
  padding-right: 2rem;
}

input:required,
textarea:required,
select:required {
  border: 1px solid red;
}

input:required:focus,
textarea:required:focus,
select:required:focus {
  /* Стили для обязательных полей при фокусе */
  outline-color: red;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 0.8rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.6rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
}

button {
  background-color: var(--text-color2);
  color: white;
  padding: 1.2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  margin-top: 3rem;
}
